DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST= 
#if running in local acccessing local postgre using DB_HOST=localhost
#if using docker accessing local postgre using DB_HOST=postgres
DB_PORT=
JWT_SECRET=
JWT_EXP=
BCRYPT_SALT=
