DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST= 
#if running in local acccessing docker postgre using DB_HOST=postgres
#if running in docker accessing local postgre using DB_HOST=host.docker.internal
DB_PORT=
JWT_SECRET=
JWT_EXP=
BCRYPT_SALT=
